html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #CDD6F4;
    background: #1E1E2E;
}

header {
    height: 10vh;
    background-color: #11111b;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 90vh;
    display: flex;
}

button{
    border-radius: 20px;
    background-color: #F38BA8;
    margin: 5px;
}

/*patie header */
.logo{
    display: block;
    width: 20%;
    height: auto;
}

.fichier{
    float: right;
}

.preview{
    float: right;
}

.import{
    float: right;
}

/*partie colonne*/

.colonne{
    width: 20vh;
    padding: 10px;
    background-color: #11111b;
    margin-right: 10px;
}

.settings{
    width: 64px;
    height:auto; 
}

/*partie fonctionalitée*/
.content{
    width: 80vh;
}

.page_active{
    width: 100%;
}

.contenu{
    background-color: #11111b;
    width:100%;
    border-radius: 20px;
}