html, body {
    height: 100%;
    margin: 0;
}

h1{
	color: white;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    background-color: #11111b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1;
    background-color: #1E1E2E;
}

.container {
    display: flex;
}

.column {
    flex-basis: 10%;
    background-color: #222233;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #F38BA8;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
}

li.button:hover {
    background-color: #f27b9c;
}

.info {
    display: none;
}

.active {
    display: block;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.main {
    
    padding-bottom: 100%;
    background-color: #1E1E2E;
    cursor: pointer;
}

.square {
    width: 750px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: #222233;
    cursor: pointer;
}

.square:hover {
    background-color: #aaa;
}

.logo {
    height: auto;
    width: 20%;
}

.settings{
    height:auto;
    width: 50%;
}