html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #CDD6F4;
    background: #1E1E2E;
}

header {
    height: 10vh;
    background-color: #11111b;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 80vh;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

button{
    border-radius: 20px;
    background-color: #F38BA8;
    margin: 5px;
}

.logo {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

.menu{
    display: grid;
    margin: auto;
    width: 25%;
    height: 30%;
}

.settings{
    display: block;
    width: 64px;
    height:auto; 
}

.profil{
    margin: auto;
    float: right;
}

.fichier{
    float: right;
}

.container-fichierprofil {
    margin-left: 70vw;
}