body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #11111b;
    display: flex;
    height: 100vh;
    flex-direction: column;
    line-height: inherit;
    margin: 0;
}

header {
    display: flex;
    height: 3.5rem;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    background-color: #11111b;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E2E;
}

footer {
    display: flex;
    height: 6rem;
    flex-direction: row;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
    background-color: #1E1E2E;
}

.logo {
    height: auto;
    width: 10rem;
    object-fit: scale-down;
}

.menu {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 0.25rem;
}

.menu button {
    margin: 0.5rem;
    width: 12rem;
    height: 2rem;
    border-radius: 0.375rem;
    background-color: #F38BA8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.settings {
    margin: 0.5rem;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.settings_logo {
    height: auto;
    width: 5rem;
    transition: object-fit 0.3s ease-in-out;
}

.display_fichier {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.fichier {
    width: 2.5rem;
}

.profil {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 0.375rem;
    border: 1px solid #CBD5E0;
    background-color: #1E1E2E;
    color: white;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profil:hover {
    border-color: #CBD5E0;
}

.profil:focus:hover {
    border-color: #409EFF;
}

.profil:focus:not(:hover) {
    border-color: #4299E1;
}

.profil:focus {
    box-shadow: 0 0 0 2px rgba(41, 156, 219, 0.5);
    outline: none;
}

.div_profil {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.div_select {
    position: relative;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: inline-block;
    border-radius: 0.375rem;
    background-color: #1E1E2E;
}

.pointer {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
}

.pointer_svg {
    height: 1rem;
    width: 1rem;
    fill: black;
}

  