html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #CDD6F4;
    background: #1E1E2E;
}

header {
    height: 10vh;
    background-color: #11111b;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 90vh;
    display: flex;
}

button{
    border-radius: 20px;
    background-color: #F38BA8;
    margin: 5px;
    width: 150px;
    height: 40px;
}

/*patie header */
.logo{
    display: block;
    width: 20%;
    height: 150px;
}

.fichier{
    float: right;
}

.preview{
    float: right;
}

.import{
    float: right;
}

/*partie colonne*/

.colonne{
    width: 20vh;
    padding: 10px;
    background: #1E1E2E;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings{
    width: 64px;
    height:auto; 
    margin: 50px;
}




/*partie fonctionalitée*/
.content{
    width: 80vh;
}

.page_active{
    width: 100%;
}

.page_{
    display: none;
}

.contenu{
    background-color: #11111b;
    width:95%;
    border-radius: 20px;
    height: 200px;
    margin: 20px;
}

.contenu:hover{
    background-color: #11111b34;
}

.option,.titre-fonction{
    display: inline-block;
    vertical-align: middle;
}

.icon{
    width: 64px;
    background-color: #CDD6F4;
    
}