body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #11111b;
    display: flex;
    height: 100vh;
    flex-direction: column;
    line-height: inherit;
    margin: 0;
}

header {
    display: flex;
    height: 3.5rem;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    background-color: #11111b;
}


/* header */
.div_logo {
    display: flex;
    flex-direction: column;
}

.logo {
    height: auto;
    width: 6rem;
    object-fit: scale-down;

}

.svg_button {
    border-radius: 0.375rem;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg_button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.svg_button:active {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 6px 2px rgba(0, 0, 0, 0.1);
}

.svg_container {
    height: 4rem;
    width: auto;
    object-fit: scale-down;
}

.div_fichier {
    margin-left: 2rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: items-center;
    border-radius: 0.375rem;
    background-color: rgba(18, 18, 18, 0.7);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.fichier {
    width: 2.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.div_button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.import,
.preview {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0.375rem;
    background-color: #F38BA8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.import:hover,
.preview:hover {
    background-color: #f38ba855;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

/* colonne */
.colonne {
    width: 20%;
    background: #1E1E2E;
    align-items: center;
    justify-content: center;
}

nav.menu button {
    margin: 10%;
    width: auto;
    height: 50px;
    display: block;
}

.settings {
    position: relative;
    width: 64px;
    margin: 50px;
    top: 55%;
}

/* contenu*/
.content {
    width: 80%;
    background-color: #1E1E2E;
    overflow: auto;
}

.page_active {
    width: 100%;
}

.page_ {
    display: none;
}

.active {
    background-color: #f76a92;
}

.contenu {
    background-color: #11111b;
    width: 95%;
    border-radius: 20px;
    height: 200px;
    margin: 20px;
}

.contenu:hover {
    background-color: #11111b34;
}

.option,
.titre-fonction {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

p {
    margin: 10px;
}

.icon {
    width: 100px;
    background-color: #CDD6F4;
    float: right;
    margin-top: -50px;
    margin-right: 30px;
}

/*container*/

.bouton-container {
    position: fixed;
    top: 90%;
    left: 75%;
    display: flex;
}

div.bouton-container button {
    background-color: green;
    width: 100px;
}

/* tout les reglage précedant s'applique quand l'ecran est a moitié*/

/*responsive -> plein ecran */
@media screen and (min-width: 952px) {
    .settings {
        position: relative;
        top: 50%;
        width: 64px;
        height: auto;
        left: 10%;
    }

    .bouton-container {
        position: fixed;
        top: 90%;
        left: 85%;
    }

    div.bouton-container button {
        background-color: green;
        width: 100px;
    }

    nav.menu button {
        margin: 10%;
        width: 200px;
        height: 50px;
        display: block;
    }

    .colonne {
        width: 15%;
        background: #1E1E2E;
        align-items: center;
        justify-content: center;
    }

    .content {
        width: 85%;
        background-color: #1E1E2E;
        overflow: auto;
    }
}