html,body {
    height:100vh;
    margin:0;
    padding: 0;
    font-family:'Ubuntu',sans-serif;
    color:#CDD6F4;
    background:#1E1E2E;
}

header {
    height:10vh;
    background-color:#11111b;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

main {
    height:90vh;
    display:flex;
}

button {
    border-radius:20px;
    background-color:#F38BA8;
    margin:5px;
    width:150px;
    height:40px;
}

/* header */
.logo {
    display:block;
    width:20%;
    height:150px;
}

.fichier,.import,.preview {
    margin-left:10px;
}

/* colonne */
.colonne {
    width:20vh;
    padding:10px;
    background:#1E1E2E;
    margin-right:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

nav.menu button {
    margin:10%;
}

.settings {
    width:64px;
    height:auto;
    margin:50px;
}

/* contenu*/
.content {
    width:80vh;
    padding-left: 10%;
}

.page_active {
    width:100%;
}

.page_ {
    display:none;
}

.active {
    background-color:#f76a92;
}

.contenu {
    background-color:#11111b;
    width: 600px;
    border-radius:20px;
    height:200px;
    margin:20px;
}

.contenu:hover {
    background-color:#11111b34;
}

.option,.titre-fonction {
    display:inline-block;
    vertical-align:middle;
    margin: 10px;
}

.icon {
    width:100px;
    background-color:#CDD6F4;
    float:right;
    margin-top:-80px;
    margin-right:30px;
}

/*conatiner*/

.bouton-container{
    position: relative;
    top: 80vh;
    right: 35vh;
    height: 50px;
    display: inline-flex;
}

div.bouton-container button {
    background-color:green;
}